h1 {
  font-family: Roboto, Avenir;
}
h2 {
  font-family: Roboto, Avenir;
  margin-top: 2em;
}
h1 + h2 {
  margin-top: 0;
}
sup {
  font-size: 70%;
}
h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}
h3 + p {
  margin-top: 0;
  font-style: italic;
}
.poem {
  font-family: Lora, Georgia, serif;
}
blockquote {
  border-left: 1px solid black;
  padding-left: 1rem;
  margin-left: 1rem;
}
cite {
  display: block;
  margin-left: 50%;
}
cite::before {
  content:'— ';
}
ul li {
  padding-inline-start: 0.5em;
}
ul li::marker {
  content: "🐝";
}
* {box-sizing: border-box;}
html {
  font-family: Lora, Georgia, serif; 
  margin: 2em;
  font-size: 120%;
  line-height: 1.5;
}
body {
  margin: 2rem 1rem 4rem;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}