@{
    ViewData["Title"] = "Products";
}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">
        E-Commerce
        <small>Home</small>
    </h1>

    <div class="row">
        @foreach (var product in Model.Products)
        {
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="/detail"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/detail">@product.Name</a>
                    </h4>
                    <p class="card-text">@product.Description</p>
                </div>
            </div>
        </div>
        }
    </div>
    <!-- /.row -->
    
</div>
<!-- /.container -->
